.footer{
    text-align : center;
    background-color: black;
    width: 80%;
    border: 1px solid #333333;
    border-radius: 10px;
    color: white;
    padding : 10px;
}

.footer__link{
    color: #4af626;
    text-decoration: none;
}