.terminal{
    width: 80vw;
    height: 60vh;
    background-color: black;
    border: 1px solid #333333;
    border-radius: 10px;
    display : flex;
    flex-direction: column;
    overflow-x: auto;
}

.terminal__bar{
    background-color: #333333;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    color : white;
    font-size: 90%;
    object-fit: contain;
}

.terminal__bar > h4{
    font-size: 100%;
    padding : 5px 5px 5px 15px;
}

.terminal__container{
    
    color : #4af626;
    background-color: black;
    height: 100%;
    overflow : auto;
}


#terminal__inputText{
    margin-left: 10px;   
}

#terminal__inputText:focus{
    outline: transparent;
}